<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.freedesktop.xdg-config</string>
    <key>Description</key>
    <string>Configure XDG base directories (https://specifications.freedesktop.org/basedir/)</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>
        launchctl setenv XDG_CACHE_HOME "$HOME/Library/Caches"
        launchctl setenv XDG_CONFIG_HOME "$HOME/.config"
        launchctl setenv XDG_DATA_DIRS "/usr/local/share/:/usr/share/"
        launchctl setenv XDG_DATA_HOME "$HOME/.local/share"
        launchctl setenv XDG_STATE_HOME "$HOME/.local/state"
      </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
