<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.mise-path</string>
    <key>Description</key>
    <string>Set PATH system-wide for the GUI session to have mise and globally installed mise tools available to applications</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>launchctl setenv PATH "$HOME/.local/bin:$HOME/.local/share/mise/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>