<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.ollama.models</string>
    <key>Description</key>
    <string>Configure Ollama environment variables</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <!-- Harcoded path expansion of XDG_DATA_HOME => $HOME/.local/share -->
      <string>launchctl setenv OLLAMA_MODELS "${HOME}/.local/share/ollama"</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
