<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>homebrew-updates-notifier</string>
	<key>Program</key>
	<string>/usr/local/bin/brew-updates-notifier.sh</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
	<string>brew-updates-notifier</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/homebrew-updates-notifier.log</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/homebrew-updates-notifier.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
