<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.UserKeyMapping.PrintScreen</string>
    <key>Description</key>
    <string>Remap "Print Screen" key to be non-operational</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/hidutil</string>
      <string>property</string>
      <string>--set</string>
      <string>
        {
          "UserKeyMapping": [
            {
              "HIDKeyboardModifierMappingSrc": 0x700000046,
              "HIDKeyboardModifierMappingDst": 0x0
            }
          ]
        }
      </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>